ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc
BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
ARBISCAN_API_KEY=your_key_here
BASESCAN_API_KEY=your_key_here
DEPLOYER_PRIVATE_KEY=0xabc...
